
@model WebApp_DnD.Models.Die
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="container">
        <div class="jumbotron">
            <h1>Let's Roll Initiative!</h1>
            <p>Virtual dice rolling!</p>
            <p>@Html.ActionLink("Roll", "Index", "Roll", null, new { @class = "btn btn-primary btn-large" })</p>

        </div>

        <form asp-controller="Roll" asp-action="Index" method="post" class="form-horizontal" role="form">
            <div class="form-group">
                <div class="row">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <label asp-for="Type" class="control-label"></label>
                        <select asp-for="NumSides"
                                class="form-control"
                                asp-items="@(new SelectList(ViewBag.ListofDice,"NumSides", "Type"))"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <input id="Submit1" type="submit" value="submit" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        @if (ViewBag.rolledValue != null) {
                        <text>Your rolled: </text> @ViewBag.rolledValue;
                }
                    </div>
                </div>
            </div>
        </form>

    </div>