body {
    padding-top: 75px;
    padding-bottom: 20px;
}

body, html {
    height: 100%;
    width: 100%;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}



.jumbotron {
    margin-top: 20px;
    background-image: url("../images/d20.jpg");
    background-size: cover;
    min-height: 500px;
}

.jumbotron h1, p {
    color: white;
}



.first {
    padding-top: 140px;
    height: 100vh;
    min-height: 400px;
    background-size: cover;
    background-image: url('../images/sebastien-421140-unsplash.jpg');
    width: 100%
}

.affix {
    -webkit-transition: padding 0.2s ease-out;
    -moz-transition: padding 0.2s ease-out;
    -o-transition: padding 0.2s ease-out;
    transition: padding 0.2s ease-out;
}

.affix-top {
    /* navbar style at top */
    background: orange;
    border-color: transparent;
    padding: 15px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.affix-top .nav > li > a {
        color: #000;
}

.affix-top .navbar-collapse {
        border-color: transparent;
        box-shadow: initial;

}

section {
    height: calc(90% - 50px);
    height: 90vh;
    max-width: 100%
}

.greeting {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
